<div class="row" >
<div class="col s8 offset-s2">


<h5 class="center"> Vote for the issues of <%= @poll.name %> </h5>


    <%= form_for @poll, url: create_vote_project_poll_path(@poll.project,@poll) do |f| %>

      <%= f.collection_check_boxes( :issues, @poll.issues, :src_issue_id, :name) do |b| %>
        <div class="collection-check-box">

          <div class="card light-green lighten-2">
            <div class="card-content ">
              <%= b.check_box %>
              
              <%= b.label  {  %>
              <% } %>
              <span class="card-title">
                  <strong><%= b.object.name %></strong>
                </span>

                <div class="divider"></div>

                <p><%= b.object.description %></p>

            </div>
          </div>
        </div>
             
      <% end %>
    <div class="divider"></div>
    <br>
    <button class="btn waves-effect waves-light btn red lighten-2" type="submit" name="action">Send votes
      <i class="material-icons right">send</i>
    </button>
    <% end %>

<br>
<%= link_to '<< Back', project_path(@poll.project), :class => 'waves-effect waves-light btn'  %>


</div>
</div>
