<p id="notice"><%= notice %></p>

<p>
  <strong>Source name:</strong>
  <%= @my_project.project_source.name %>
</p>

<p>
  <strong>Connection URL:</strong>
  <%= @my_project.project_source.url %>
</p>


<%= link_to 'Edit', edit_my_project_path(@my_project) %> |
<%= link_to 'Back', my_project_path(@my_project) %>
