<h4>
	<i class="small material-icons"><%= visibility_icon(@project)%></i>
	<%= @project.name %>
</h4>

<p>
  <strong>Visibility:</strong>
  <%= visibility(@project) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Project configuration', edit_user_project_path(@project), :class => 'waves-effect waves-light btn' %> 
<br><br>
<div class="divider"></div>

<% if @project.project_source == nil %>
	<h4>Source: none </h4>
	<%= link_to 'Create source', new_source_user_project_path(@project), :class => 'waves-effect waves-light btn' %> 
<% else %>

	<% set_source_decorator %>
	  
	<h4>Source:  <%= @project.project_source.name %></h4>

	<%= link_to 'Source configuration',  source_path(@project) , :class => 'waves-effect waves-light btn'  %> 
<% end %>

<br><br>
<div class="divider"></div>

<h4>Polls  </h4>
	<%= render 'show_polls' %>
<br>
<br>
<div class="divider"></div>
<br>
<%= link_to '<< Back', user_projects_path, :class => 'waves-effect waves-light btn' %>

