<%= form_for @my_project, url: {action: action} do |f| %>



  <% if @my_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @my_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

     
  <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
  </div><br>


  <div class="field">
    <%= f.check_box :public %>
    <%= f.label :public %>
  </div><br>

  <button class="btn waves-effect waves-light" type="submit" name="action"><%= f.submit %>
    <i class="material-icons right">send</i>
  </button>
<% end %>
