<p id="notice"><%= notice %></p>

<h2 >My projects</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Visibility</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td ><strong ><%= visibility(project) %></strong></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', my_project_path(project) %></td>
        <td><%= link_to 'Edit', edit_my_project_path(project) %></td>
        <td><%= link_to 'Destroy', "", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_my_project_path, :class => 'waves-effect waves-light btn' %>
