
<div class="row">
  <div class="col s8 offset-s2">
    <h2 >My projects</h2>
    <% set_source_collection_decorator %>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Visibility</th>
          <th>Source</th>
        </tr>
      </thead>

      <tbody>
        <% @my_projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td ><strong ><%= visibility(project) %></strong></td>
            <td><%= source_name(project) %></td>
            <td><%= link_to 'Details', my_project_path(project) %></td>
            <td><%= link_to 'Destroy', my_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Project', new_my_project_path, :class => 'waves-effect waves-light btn' %>

  </div>
</div>



