<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @my_project.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @my_project.public %>
</p>

<p>
  <strong>Description:</strong>
  <%= @my_project.description %>
</p>

<% if @my_project.project_source == nil %>
	<%= link_to 'Create source', new_my_project_mocked_source_path(@my_project) %> 
<% else %>
	<%= link_to 'Source configuration',  my_project_mocked_source_path(@my_project)  %> 
<% end %>

<br><br>
<%= link_to 'Edit', edit_my_project_path(@my_project) %> |
<%= link_to 'Back', my_projects_path %>
