<div class="row" >
<div class="col s8 offset-s2">


<h5 class="center"> Vote for the issues of <%= @poll.name %> </h5>


    <%= form_tag  project_poll_votes_path do  %>

      <%= collection_check_boxes( :votes, :id, @poll.issues, :id, :name) do |b| %>
        <div class="collection-check-box">

          <div class="card light-green lighten-2">
            <div class="card-content ">
              <%= b.check_box %>
              
              <%= b.label  {  %>
              <% } %>
              <span class="card-title">
                  <strong><%= b.object.name %></strong>
                </span>

                <div class="divider"></div>

                <p><%= b.object.description %></p>

            </div>
          </div>
        </div>
             
      <% end %>
    <div class="divider"></div>
    <br>
    <%= submit_tag("Send votes >", class: "btn waves-effect waves-light btn red lighten-2") %>

    <% end %>

<br>
<%= link_to '<< Back', project_poll_path(@poll.project, @poll), :class => 'waves-effect waves-light btn'  %>


</div>
</div>
