<!DOCTYPE html>
<html>
<head>
  <title>ProjectRequirementsStrawpoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/navbar' %>
	
	<main>
		<div class="container">
			<% if notice %>
			    <div class="card-panel blue lighten-1" id="notice">
			    	<span class="white-text text-white">
			    		<%= notice %>
			    	</span>
			  	</div>
	  		<% end %>

		  	<% if alert %>
			    <div class="card-panel red darken-2" id="alert">
			    	<span class="white-text text-white">
			    		<%= alert %>
			    	</span>
			  	</div>

	  		<% end %>

			<%= yield %>
		</div>
	</main>

	<footer class="page-footer brown darken-1"></footer>
          
    
</body>
</html>
